html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 13px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.kendo-ui-grid
{
  height: calc(100% - 65px);
  overflow: auto;
  padding: 0 20px 20px;
  
}


.headerbar
{
  height: 65px;
  background-color: darkorange;
}
.footerbar
{
  height: 50px;
  background-color: #e6e6e6;
}

.maincontainer
{
  display: flex;
  flex-direction: row;
}
.leftbar
{
  width: 90px;
  background: #18188e;
  height: calc(100vh);
  color: white;
  text-align: center;
  padding: 0 12px;
  & .logo
  {
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 7px;
    margin: 15px 0;
  }
  & .menu-item
  {
    margin: 20px 0;
  }
  
  
}
.rightbar
{
  flex: 1;
  //height: calc(100vh);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 
}

.cl-pc-1
{
  color: #f6f6f6;
}

// drawer styles
.drawer
{
  &-md
  {
    .k-drawer-wrapper
    {
      width: 700px !important;
    }
    
  }
}