html,
body {
  padding: 0;
  margin: 0;
   font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.kendo-ui-grid
{
  width: calc(100% - 136px);
  //height: calc(100% - 50px);
  height: 100%;
  overflow: auto;
  padding: 0 20px 5px
  
}

.k-grid th, .k-grid td {
  padding: 7px 12px !important;
}


.headerbar
{
  height: 65px;
  background-color: darkorange;
}
.footerbar
{
  height: 50px;
  background-color: #e6e6e6;
}

.maincontainer
{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.leftbar
{
  width: 90px;
  background: #18188e;
  height: calc(100vh);
  color: white;
  text-align: center;
  padding: 0 12px;
  & .logo
  {
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 7px;
    margin: 15px 0;
  }
  & .menu-item
  {
    margin: 20px 0;
  }
  
  
}
.rightbar
{
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 
}

.cl-pc-1
{
  color: #f6f6f6;
}

// drawer styles
.drawer
{
  &-md
  {
    .k-drawer-wrapper
    {
      width: 700px !important;
    }
    
  }
}

.boilerplate-container
{
  padding: 20px 50px;
  margin-left: 50px;
  border-left: 3px solid rgb(4, 146, 4);
}

.m-50
{
  margin-top: 50px;
  border-top: 1px solid rgb(189, 189, 189);
  padding-top: 20px;
}
.autoresizer-tbl
{
  flex: 1;
  width: auto !important;
  height: calc(100% - 50px) !important;
}