$base-theme:Default;
$skin-name:sunnet-mvp;
$swatch-name:Default;
$border-radius: 8px;
$accent: #07038c;
$info: #3e80ed;
$success: #5ec232;
$warning: #fdce3e;
$error: #d51923;
$text-color: #4d545a;
$bg-color: #ffffff;
$base-text: #4d545a;
$base-bg: #ebf8ff;
$hovered-text: #4d545a;
$hovered-bg: #ededed;
$selected-text: #ffffff;
$selected-bg: #07038c;
$series-a: #ff6358;
$series-b: #ffd246;
$series-c: #78d237;
$series-d: #28b4c8;
$series-e: #2d73f5;
$series-f: #aa46be;
